@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.apresentacao {
    font-family: "Anton", sans-serif;
    font-weight: 1200px;
    font-style: normal;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.links {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;
    gap: 15px;
    color: rgb(255, 255, 255);
}

.links a i {
  color: #ffffff; /* cor fixa dos ícones */
}

.links a i:visited,
.links a i:active,
.links a i:hover {
  color: #ffffff; /* mantém a mesma cor sempre */
}

.links a i:hover {
  transform: scale(1.2); /* aumenta levemente */
  transition: transform 0.5s;
}